.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* modal style */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(136, 136, 136, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 1;
}

.modal-content {
  width: 75%;
  background-color: #fff;
  border-radius: 10px;
}

.modal-image-list {
  text-align: center;
}

.modal-image {
  max-width: 25%;
  height: auto;
  display: inline-block;
  padding: 10px 2.5%;
}

.modal-header {
  margin: 0px 10px;
  font-size: 18px;
}

.modal-body {
  margin: 10px;
  font-size: 15px;
}

.modal-footer {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  align-content: center;
  margin: auto;
  text-align: center;
}

.button-close{
  margin-right: 25%;
  width: 25%;
  border-radius: 10px;
  border: 2px solid rgb(52, 148, 180);
  font-size: 15px;
  background-color: white;
  color: rgb(52, 148, 180);
}

.button-add{
  width: 25%;
  border-radius: 10px;
  background-color: rgb(52, 148, 180);
  color: white;
  font-size: 15px;
}

.header {
  background: rgb(67, 190, 231);
  padding: 10px 0;
  text-align: center;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}


/* for all SearchPage function */

.header .text1 {
  text-align: left;
  color: white;
  padding: 10px 15px;
  margin: 0px 0px;
  font-size: 30px;
}

.text2 {
  font-size: 20px;
  padding-left: 10px;
  text-align: left;
}

.yoursymptom .text3 {
  text-align: left;
  color: white;
  padding: 10px 15px;
  margin: 0px 0px;
  font-size: 18px;
}


h3 {
  display: inline-block;
}

.yoursymptom{
  text-align: left;
}

.search {
  width: 75%;
  padding: 5px 10px;
  margin: 5px 0px;
  box-sizing: border-box;
  border-radius: 10px;
  color: rgb(52, 148, 180);
  border: 2px solid rgb(47, 160, 211);
  font-size: 15px;
}

.searh:focus{
  border: none;
  border: 4px solid rgb(52, 148, 180);
}

.searchpage-button {
  text-align: center;
  background-color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  border: 2px solid rgb(52, 148, 180);
  margin: 0px 10px;  
  border-radius: 5px;
  color:rgb(52, 148, 180);
  font-size: 15px;
}


.button-list {
  display: inline-block;
}

h2 {
  padding: 10px 0px;
  margin: 10px 0px;
}

.sorttag1 {
  text-align: left;
  position: fixed;
  right:30px;
  top: 300px;
}

.sorttag2 {
  text-align: left;
  position: fixed;
  right:30px;
  top: 350px;
}

.sorttag3 {
  text-align: left;
  position: fixed;
  right:30px;
  top: 400px;
}

.button-image {
  background: none;
  border: none;
  border-radius: 100%;
}

.sort-image {
  width: 50px;
  height: auto;
}

.unlink-next-button {
  border-radius: 10px;
  border: 3px solid lightgray;
  width: 75%;
  padding: 5px 10px;
  margin: 20px 0px;
  box-sizing: border-box;
  color: lightgray;
  cursor: default;
}

.link-next-button {
  border-radius: 10px;
  border: 3px solid limegreen;
  width: 75%;
  padding: 5px 10px;
  margin: 20px 0px;
  box-sizing: border-box;
  color: white;
  background-color: limegreen;
  cursor: default;
  display: inline-block;
  text-decoration: none;
}

.left-align {
  text-align: left;
}

/* for all ResultPage */

.result-background{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(67, 190, 231);
  left: 0;
  top: 0;
}

.result-text1{
  font-size: 30px;
  z-index: 1;
  margin-top: 280px;
}

.yoursymtom-result{
  text-align: center;
  z-index: 1;
}

.resultpage-button{
  text-align: center;
  background-color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  border: 2px solid rgb(52, 148, 180);
  margin: 0px 10px;  
  border-radius: 5px;
  color:rgb(52, 148, 180);
  font-size: 15px;
  z-index: 1;
}

.resultpage-link-list{
  display: inline-block;
  text-align: center;
  width: 75%;
  z-index: 1;
  margin-top: 15px;
}

.go-homepage {
  margin-right: 25%;
  width: 30%;
  border-radius: 10px;
  border: 2px solid rgb(52, 148, 180);
  font-size: 20px;
  background-color: white;
  color: rgb(52, 148, 180);
  text-decoration: none;
  display: inline-block;
  z-index: 1;
}

.go-finishpage{
  width: 30%;
  border-radius: 10px;
  background-color: rgb(52, 148, 180);
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  z-index: 1;
}

/* for all FinishPage */

.finish-background{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(67, 190, 231);
  left: 0;
  top: 0;
}

.finish-text1{
  font-size: 30px;
  z-index: 1;
  margin-top: 280px;
}

.finish-background .go-homepage{
  margin: 0;
  width: 30%;
  border-radius: 10px;
  border: 2px solid rgb(52, 148, 180);
  font-size: 20px;
  background-color: white;
  color: rgb(52, 148, 180);
  text-decoration: none;
  display: inline-block;
  z-index: 1;
}

