.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Popup style */
/* .popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
} */


/* modal style */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(136, 136, 136, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.modal-content {
  width: 75%;
  background-color: #fff;
}

.modal-image {
  max-width: 20%;
  height: auto;
  display: inline-block;
  padding: 10px 2.5%;
}

.modal-header {
  margin: 0;
}

.modal-footer {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  align-content: center;
  margin: auto;
}

.button-close{
  margin-right: 20px;
  text-align: left;
  border-radius: 40%;
  border: none;
}

.button-add{
  margin-left: 0 auto;
  text-align: right;
}

.header {
  background: rgb(67, 190, 231);
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .text {
  text-align: left;
  color: white;
  padding: 10px 15px;
  margin: 0px 0px;
}

h3 {
  display: inline-block;
}

.yoursymptom{
  text-align: left;
}

.search {
  width: 75%;
  padding: 5px 10px;
  margin: 5px 0px;
  box-sizing: border-box;
  border-radius: 10px;
  color: rgb(52, 148, 180);
  border: 2px solid rgb(47, 160, 211);
}

.searh:focus{
  border: none;
  border: 4px solid rgb(52, 148, 180);
}

.searchpage-button {
  text-align: center;
  background-color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  border: 2px solid rgb(52, 148, 180);
  margin: 0px 10px;  
  border-radius: 5px;
  color:rgb(52, 148, 180);
}
.after-header {
  margin-top: 210px;
}

.button-list {
  display: inline-block;
}